In [15]:
from pyspark.sql import SparkSession
from pyspark import SparkConf

sparkConf = SparkConf()
sparkConf.setMaster("spark://spark-master:7077")
sparkConf.setAppName("Assignment 2 Batch Pipeline")
sparkConf.set("spark.driver.memory", "2g")
sparkConf.set("spark.executor.cores", "1")
sparkConf.set("spark.driver.cores", "1")
# create the spark session, which is the entry point to Spark SQL engine.
spark = SparkSession.builder.config(conf=sparkConf).getOrCreate()

# Setup hadoop fs configuration for schema gs://
conf = spark.sparkContext._jsc.hadoopConfiguration()
conf.set("fs.gs.impl", "com.google.cloud.hadoop.fs.gcs.GoogleHadoopFileSystem")
conf.set("fs.AbstractFileSystem.gs.impl", "com.google.cloud.hadoop.fs.gcs.GoogleHadoopFS")

#  Google Storage File Path
gsc_file_path = 'gs://de_2024_574440/data/data.csv'  
# Create data frame
df = spark.read.format("csv").option("header", "true") \
       .load(gsc_file_path)

df.printSchema()

root
 |-- id: string (nullable = true)
 |-- title: string (nullable = true)
 |-- type: string (nullable = true)
 |-- genres: string (nullable = true)
 |-- averageRating: string (nullable = true)
 |-- numVotes: string (nullable = true)
 |-- releaseYear: string (nullable = true)

In [16]:
from pyspark.sql.functions import col, countDistinct

#Select only rows with movies or TvSeries
df = df.where((df.type=="movie") | (df.type=="tvSeries"))

In [17]:
from pyspark.sql.functions import split

#remove rows with null values for key columns
df = df.filter(df.averageRating != 'NULL') \
     .filter(df.genres != 'NULL') \
     .filter(df.releaseYear != 'NULL')

#transform strings into float and int
df = df.withColumn("averageRating", col("averageRating").cast("float")) \
    .withColumn("releaseYear", col("releaseYear").cast("integer")) \
    .withColumn("numVotes", col("numVotes").cast("integer"))


#Clean genres, so that only the main genre is available per row
df = df.withColumn("genre_t", split(df.genres, ', ')).drop("genres") \
     .withColumn("one_genre", col("genre_t").getItem(0)).drop("genre_t")

#Display the table
df.show()

+---------+--------------------+-----+-------------+--------+-----------+-----------+
|       id|               title| type|averageRating|numVotes|releaseYear|  one_genre|
+---------+--------------------+-----+-------------+--------+-----------+-----------+
|tt0000009|          Miss Jerry|movie|          5.4|     215|       1894|    Romance|
|tt0000147|The Corbett-Fitzs...|movie|          5.2|     539|       1897|Documentary|
|tt0000574|The Story of the ...|movie|          6.0|     941|       1906|     Action|
|tt0000591|    The Prodigal Son|movie|          5.7|      28|       1907|      Drama|
|tt0000615|  Robbery Under Arms|movie|          4.3|      27|       1907|      Drama|
|tt0000630|              Hamlet|movie|          3.1|      30|       1908|      Drama|
|tt0000675|         Don Quijote|movie|          4.2|      22|       1908|      Drama|
|tt0000679|The Fairylogue an...|movie|          5.2|      78|       1908|  Adventure|
|tt0000886|Hamlet, Prince of...|movie|          4.7|      40|       1910|      Drama|
|tt0000941|      Locura de amor|movie|          4.6|      29|       1909|      Drama|
|tt0001028|          Salome Mad|movie|          3.8|      22|       1909|     Comedy|
|tt0001049|      Gøngehøvdingen|movie|          4.2|      19|       1909|      Drama|
|tt0001112|              Hamlet|movie|          3.9|      49|       1910|      Drama|
|tt0001115|       Ansigttyven I|movie|          4.3|      20|       1910|      Crime|
|tt0001175|             Camille|movie|          5.3|      44|       1912|      Drama|
|tt0001184|Don Juan de Serra...|movie|          3.8|      22|       1910|  Adventure|
|tt0001240|              Hamlet|movie|          3.8|      22|       1911|      Drama|
|tt0001277|         Kapergasten|movie|          4.3|      26|       1910|      Drama|
|tt0001285|   The Life of Moses|movie|          5.5|      63|       1909|  Biography|
|tt0001338|      A Night in May|movie|          5.2|      18|       1910|      Drama|
+---------+--------------------+-----+-------------+--------+-----------+-----------+
only showing top 20 rows

In [18]:
from pyspark.sql.functions import rank, row_number, desc
from pyspark.sql import Window

#Rank by genre 

window_genre=Window.partitionBy("one_genre").orderBy(desc("averageRating"))

df = df.withColumn("rank_genre", row_number().over(window_genre)) 

df.show()

+----------+--------------------+--------+-------------+--------+-----------+---------+----------+
|        id|               title|    type|averageRating|numVotes|releaseYear|one_genre|rank_genre|
+----------+--------------------+--------+-------------+--------+-----------+---------+----------+
| tt7156934|   Independent Roads|   movie|          9.9|      10|       2012|Adventure|         1|
| tt1053817|    Buried in Tucson|   movie|          9.8|      15|       2007|Adventure|         2|
| tt8114896|               Parto|   movie|          9.8|      85|       2010|Adventure|         3|
| tt1419921| Flying Over Everest|   movie|          9.7|      12|       2004|Adventure|         4|
|tt24224080|Jendela Seribu Su...|   movie|          9.7|      92|       2023|Adventure|         5|
|tt24228604|          OdBita Pot|tvSeries|          9.7|     874|       2022|Adventure|         6|
|tt33083593|        Vikaasaparva|   movie|          9.7|     505|       2024|Adventure|         7|
| tt9824856|  Avalakki Pavalakki|   movie|          9.7|      20|       2023|Adventure|         8|
|tt11378676|Bilbo and the Leg...|   movie|          9.6|       5|       2022|Adventure|         9|
|tt13385026|Sehnsucht nach ei...|   movie|          9.6|      17|       2021|Adventure|        10|
|tt15510976|A Filha Do Govern...|   movie|          9.6|       7|       2016|Adventure|        11|
|tt21091528|Prince Oak Oakley...|   movie|          9.6|      56|       2022|Adventure|        12|
|tt27262998|Drifting in the W...|   movie|          9.6|      37|       2023|Adventure|        13|
| tt7472202|The Other End of ...|   movie|          9.6|       9|       2018|Adventure|        14|
|tt12043078|     Illegal Freedom|tvSeries|          9.5|      44|       2016|Adventure|        15|
|tt13028852|Satu - Year of th...|   movie|          9.5|      27|       2024|Adventure|        16|
|tt16270180|Ships of the Nort...|tvSeries|          9.5|      21|       2020|Adventure|        17|
|tt16383720|  Minecraft Temporal|tvSeries|          9.5|      15|       2019|Adventure|        18|
|tt16530124|            Hawk Map|tvSeries|          9.5|      17|       2016|Adventure|        19|
| tt1823239|The Mischievous A...|   movie|          9.5|      24|       2011|Adventure|        20|
+----------+--------------------+--------+-------------+--------+-----------+---------+----------+
only showing top 20 rows

In [19]:
#Rank by both genre and year

window=Window.partitionBy("one_genre", "releaseYear").orderBy(desc("averageRating"))

df = df.withColumn("year_genre_rank", row_number().over(window)) 

df.show()

+---------+--------------------+-----+-------------+--------+-----------+---------+----------+---------------+
|       id|               title| type|averageRating|numVotes|releaseYear|one_genre|rank_genre|year_genre_rank|
+---------+--------------------+-----+-------------+--------+-----------+---------+----------+---------------+
|tt0000679|The Fairylogue an...|movie|          5.2|      78|       1908|Adventure|     13060|              1|
|tt0186564|      Sonho de Valsa|movie|          2.4|      24|       1909|Adventure|     16536|              1|
|tt0001184|Don Juan de Serra...|movie|          3.8|      22|       1910|Adventure|     15779|              1|
|tt0002130|     Dante's Inferno|movie|          7.0|    3662|       1911|Adventure|      4691|              1|
|tt0293219|Harry the Footballer|movie|          4.3|      33|       1911|Adventure|     15287|              2|
|tt0342837|Nankyoku tanken k...|movie|          6.8|      15|       1912|Adventure|      5837|              1|
|tt0339218|                Jess|movie|          5.7|      32|       1912|Adventure|     11218|              2|
|tt0231604|   For a Baby's Sake|movie|          5.0|      18|       1912|Adventure|     13789|              3|
|tt0208154|La fin d'une révo...|movie|          4.8|      18|       1912|Adventure|     14318|              4|
|tt0434033|The Heir of the L...|movie|          6.8|      17|       1913|Adventure|      5863|              1|
|tt0310692|The Extraordinary...|movie|          6.3|     222|       1913|Adventure|      8334|              2|
|tt0003489|The Last Days of ...|movie|          6.1|     634|       1913|Adventure|      9119|              3|
|tt0003301|The Prisoner of Z...|movie|          6.0|      51|       1913|Adventure|      9586|              4|
|tt0207409|Dick Whittington ...|movie|          5.8|      46|       1913|Adventure|     10707|              5|
|tt0383932|        Das Blutgeld|movie|          5.7|      15|       1913|Adventure|     11229|              6|
|tt0002605|The Adventures of...|movie|          5.6|      45|       1913|Adventure|     11420|              7|
|tt0003022|             Ivanhoe|movie|          5.6|      98|       1913|Adventure|     11421|              8|
|tt0003337|          Robin Hood|movie|          5.5|      57|       1913|Adventure|     11856|              9|
|tt2127294|In the Smuggler's...|movie|          5.2|      17|       1913|Adventure|     13336|             10|
|tt0191220|        Juan Moreira|movie|          4.5|      17|       1913|Adventure|     14948|             11|
+---------+--------------------+-----+-------------+--------+-----------+---------+----------+---------------+
only showing top 20 rows

In [20]:
# Use the Cloud Storage bucket for temporary BigQuery export data the connector uses.
bucket = "gs://de_2024_574440/temp_de2024"
spark.conf.set('temporaryGcsBucket', bucket)

df.write.format('bigquery') \
  .option('table', 'still-entity-435508-a1.Movies.IMDB_Comprehensive') \
  .mode("overwrite") \
  .save()